.button-favourites{
    display: none;
}

.button-favourites:checked ~ .label-favourites{
    color: red;
    transition: color 0.3s ease;
}

.label-favourites{
    top: 10px;
    right: 15px;
    font-size: 28px;
    position: absolute;
    color: #FFFFFF;
    padding: 2px 8px;
    border: 2px solid;
    border-radius: 50%;
    transition: color 0.3s ease;
}

.card-course-step {
    width: 300px;
    height: 236px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: rgb(0, 28, 39);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 28px;
    padding-right: 21px;
    position: relative;
}

.card-course-step-title {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.card-course-step-title-lessons {
    display: flex;
    column-gap: 5px;
    color: #828282;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}

.card-course-slogans {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 8px;
}

.card-course-slogan {
    width: 127px;
    height: 17px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    float: left;
}

.card-course-step-slogan-step {
    width: 271px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    text-align: left;
}

.card-category-block{
    font-size: 12px;
    color: #fff;
    display: flex;
    max-width: 190px;
    column-gap: 3px;
    white-space: nowrap;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-course-step-title-lessons span{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-course-step-img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card-course-step-autor-block {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 3px;

}

.bottom-content-autor-link {
    margin-top: 4px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-course-step-2 {
    width: 300px;
    height: 236px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    padding: 16px 21px 28px 24px;
    position: relative;
    background: #001C27;
}

.card-course-step-2 div,
a {
    color: #FFF;
}

.card-course-step-2 .bottom-content-autor-link {
    color: #FFF;
}

#dropdown-card{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-content-card{
    display: none;
    position: absolute;
    transition: ease all 0.3s;
}

.content-card a {
    font-size: 12px;
    float: none;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-align: left;
}
.content-card{
    width: 200px;
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    max-width: 201px;
    min-width: 50px;
    white-space: nowrap;
    row-gap: 5px;
    margin-top: 5px;
}
.content-drop-card {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    max-width: 150px;
    min-width: 50px;
    z-index: 1;
    white-space: nowrap;
}

.show {
    display: block;
    transition: ease all 0.3s;
}

.active {
    transition: ease all 0.3s;
    transform:rotate(-90deg);
}

.dropbtncat span {
    display:inline-block;
    transition: ease all 0.3s;
    font-size: 12px;
    color: #FFFFFF;
}
