.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 30px;
    background-color: white;
    padding-bottom: 10px;
    margin-top: 20px;
}
.burger-button{
    display: none;
}

.title-page {
    color: #001C27;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-links{
    display: flex;
    align-items: center;
    column-gap: 5px;

}
.nav-links a, span{
    color: #828282;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-links {
    color: #828282;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}

.block-search {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header-search {
    width: 215px;
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:  #828282;
    outline: none;
}

.main-content {
    margin-top: 20px;
    display: flex;
    margin-left: 150px;
    height: 100%;
    margin-right: 20px;
}

.main-content-container {
    width: 100%;
}
.favourites-courses{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.my-course {
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.my-course-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background: #E0E0E0;
}

.my-course-bottom {
    width: 100%;
    height: 62px;
    padding-top: 10px;
    padding-left: 10px;
}

.my-course-bottom p {
    font-family: 'Mulish', sans-serif;
    color: #141A2F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.my-course-bottom-text{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.my-course-bottom-text span{
    font-family: 'Mulish', sans-serif;
    color: #828282;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.favourites-icon{
    position: absolute;
    background: none;
    border: none;
    top: 10px;
    right: 10px;
}

.favourites-icon i{
    color: red;
    font-size: 32px;
}

@media (max-width: 1024px){
    .burger-button{
        display: block;
    }
    .header{
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .nav-links{
        display: none;
    }
    .header-container{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 20px;
        align-items: center;
        display: flex;
    }
    .header-container h1{
        font-size: 20px;
        color: #000;
    }
    .main-content{
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px 20px 20px 20px;
        justify-content: center;
    }
    .favourites-courses{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px){
    .header-container{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 20px;
        align-items: center;
        display: flex;
    }
    .favourites-courses{
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .main-title{
        display: flex;
        column-gap: 20px;
    }
    .header-search{
        display: none;
    }
}
