.nav-menu{
    transform: translateX(-101%);
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content-container{
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 30px;
}
.main-content-title{
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    color: #000;
}

.main-content-new-block-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 20px;
}
.partners-block{
    margin-top: 30px;
}
.partners-block-content{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    row-gap: 30px;
}
.partner-logo{
    max-height: 50px;
}
.block-category{
    margin-top: 20px;
}
.block-category-content{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}
.category-fist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background: #E5D1FF;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    row-gap: 10px;
    border-radius: 16px;
    font-weight: 700;
}

.category-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background: #C6D9FB;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    row-gap: 10px;
    border-radius: 16px;
    font-weight: 700;
}


@media (max-width: 768px) {
    .main-content-title{
        font-size: 28px;
    }
    .block-category-content {
        justify-content: center;
    }
    .footer-logo{
        font-size: 28px;
    }
    .footer-links a {
        font-size: 14px;
    }
    .footer-container-info-title{
        font-size: 17px;
    }
    .footer-container-info-content p{
        font-size: 14px;
    }
    .category-fist{
        font-size: 16px;
    }
    .category-step{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .partners-block-content {
        flex-direction: column;
    }
    .main-content-title{
        font-size: 21px;
    }
    .footer-logo{
        font-size: 24px;
    }
    .footer-links a {
        font-size: 12px;
    }
    .footer-container-info-title{
        font-size: 15px;
    }
    .footer-container-info-content p{
        font-size: 12px;
    }
    .footer-container-info-content span{
        font-size: 12px;
    }
    .footer_container{
        flex-direction: column;
        align-items: normal;
        row-gap: 30px;
    }
    .category-fist{
        font-size: 14px;
    }
    .category-step{
        font-size: 14px;
    }
}
