@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    text-decoration: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

* img {
    max-width: 100%
}

html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.create-course {
    width: 100%;
    display: flex;
    background: #fff;
}

.create-course-content {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.course-form h1 {
    font-size: 24px;
    color: #1E212C;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}


.create-content-form {
    display: flex;
    flex-direction: column;

}

.create-input {
    border: 1px solid #787A80;
    border-radius: 6px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    outline: none;
}

.course-form button {
    background-color: #009579;
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 5px 50px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
}

.course-form textarea {
    resize: vertical;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.block {
    display: none;
}
#select{
    width: 100%;
}
.drop-textarea{
    width: 100%;
}