@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    text-decoration: none;
}
footer, header, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
* img {
    max-width: 100%}
html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-title{
    color: #1E212C;
    font-weight: bold;
}
.content{
    padding: 50px;
    width: 1000px ;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.content h1{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: #1E212C;
    padding-bottom: 10px;
}
.content p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
}
.content-about-course ol {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    list-style-type: decimal;
}
.content-about-course ol li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
}
.autor-vidget{
   display: flex;
   align-items: flex-start;
   column-gap: 20px;
}
.about-autor{
    display: flex;
    flex-direction: column;
    text-align: left;  
}
.img-autor{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    float: left;
    margin-top: 5px;
}
.autor-link-vidget{
    font-family: 'Poppins', sans-serif;
    color: #1E212C;
    font-size: 18px;
    font-weight: bold;
}
.lessons ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    list-style-type: decimal;
}
.lessons ul li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
}
.actions{
    display: flex;
    justify-content: space-between;
}
.btn-join{
    padding: 10px 20px;
    background-color: #009579;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
}
.btn-favourites{
    padding: 10px 40px;
    background: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:  #009579;
    border-radius: 6px;
    border: 1px solid #009579;
}
.comments-insert{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.input-comment{
    margin-top: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #787A80;
    outline: none;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #787A80;
}
.button-insert{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #009579;
    border: none;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.block-comments{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    row-gap: 10px;
}
.title-comments{
    display: flex;
    column-gap: 10px;
}
.autor-comment{
    color: #1E212C;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.comment-date{
    color: #787A80;
}
.likes-dislikes-comment{
    display: flex;
    column-gap: 10px;
}
.like-coment{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}
.dislike-coment{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}
.like-coment .icon{
    font-size: 20px;
    margin-right: 10px;
}

.dislike-coment .icon{
    font-size: 20px;
    margin-right: 10px;
}
.comment-link-answer{
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}
