@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    text-decoration: none;
}
footer, header, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
* img {
    max-width: 100%}
html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.home{
    width: calc(100% - 88px);
    background: #fff;
}

.home-content{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.home-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;  
    font-weight: bold;
}
.home-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;  
    padding-top: 10px;
}
.home-content img{
    padding-top: 30px;
    max-width: 60%;
    min-height: 60%;
}
.home-content ul{
    padding-top: 10px;
    margin-left: 40px;
}
.home-content ul span{
    font-weight: bold;
}
.coments{
    margin-top: 50px;
    border-top: #787A80 1px solid;
    display: block;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.like{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:#787A80;
}
.dislike{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:#787A80;
}
.like .icon{
    font-size: 20px;
    margin-right: 10px;
}
.dislike .icon{
    font-size: 20px;
    margin-right: 10px;
}
.cont-like{
    font-size: 20px;
}
.count-dislike{
    font-size: 20px;
}
.comments-title{
    display: flex;
    justify-content: space-between;
}
.likes-dislike{
   display: flex;
   column-gap: 30px;
}
.lesson{
    margin-left: 80px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#787A80;
    display: flex;
    align-items: center;
}
.count-lesson{
    margin-left: 10px;
}
.next-lesson{
   padding: 10px 15px;
   background-color: #009579;
   border: none;
   border-radius: 6px;
   font-family: 'Poppins', sans-serif;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
}
.comments-filter{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.block-coments-count{
    display: flex;
    align-items: center;
    color:#787A80;
    font-size: 16px;
    column-gap: 10px;
}



.dropbtn-coment {
    background-color: #1E212C;
    color: #787A80;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border: 0.1px solid #4a4c4f;
    border-radius: 3px;
}
.dropdown-comment {
    position: relative;
    display: inline-block;
}
.dropdown-content-coment {
    display: none;
    position: absolute;
    background-color: #1E212C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content-coment a {
    color: #787A80;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-coment a:hover {
    background-color: #4a4c4f;
    color: #fff;
}
.show {
    display: block;
}
.comments-insert{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.input-comment{
    margin-top: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #787A80;
    outline: none;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #787A80;
}
.button-insert{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #009579;
    border: none;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.block-comments{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    row-gap: 10px;
}
.title-comments{
    display: flex;
    column-gap: 10px;
}
.autor-comment{
    color: #1E212C;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.comment-date{
    color: #787A80;
}
.likes-dislikes-comment{
    display: flex;
    column-gap: 10px;
}
.like-coment{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}
.dislike-coment{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}
.like-coment .icon{
    font-size: 20px;
    margin-right: 10px;
}

.dislike-coment .icon{
    font-size: 20px;
    margin-right: 10px;
}
.comment-link-answer{
    font-family: 'Poppins', sans-serif;
    color: #787A80;
    font-size: 16px;
}