@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    text-decoration: none;
}
footer, header, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
* img {
    max-width: 100%}
html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 100%;
    max-width: 1200px;
    padding: 50px 50px 50px 50px;
}
.about-courses-content{
    margin-bottom: 50px;
}
.main-content-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.main-content-title-course .icon{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.main-content-title-course{
    display: flex;
    align-items: center;
}
.name-courses{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  
   
}
.name-courses a{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #1E212C;
  
}
.name-courses a:hover{
    text-decoration: underline;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course{
    display: flex;
    margin: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 320px;
    height: 170px;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    transition: all 0.3s ease;
}
.course:hover{
    box-shadow: rgba(40, 68, 41, 0.35) 0px 5px 15px;
}
.title-course{
   width: 360px; 
   display: flex;
   flex-direction: column;
}
.course-img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
}
.name-couse{
   color: #1E212C;
   font-size: 16px;
   font-weight: bold;
}
.name-autor-course{
   margin-top: -25px;
   color: #1E212C;
   font-size: 14px;
   
}
.partners{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 60px;
    row-gap: 30px;
}
.partner-logo-img{
    max-width: 180px;
    max-height: 50px;
}
.autor-block{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.autor-block-content{
    display: flex;
    margin: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 320px;
    height: 100px;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    transition: all 0.3s ease;
}
.autor-block-content:hover{
    box-shadow: rgba(40, 68, 41, 0.35) 0px 5px 15px;
}
.autor-block-title{
   width: 360px; 
   display: flex;
   flex-direction: column;
}
.autor-block-img{
    width: 60px;
    height: 60px;
    border-radius: 6px;
}
.autor-block-result{
    display: flex;
    column-gap: 5px;
}
.autor-block-result-content{
    display: flex;
    align-items: center;
    font-size: 12px;
    column-gap: 2px;
    color: #707070;
    margin-top: -15px;
}
